form {
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
  }
  
  form input {
    width: 80%;
    height: 40px;
  }

  form button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 2rem;
    border: 1px solid black;
  }
  